body{
  margin: 0;
  padding: 0;
  background: rgb(5,13,49);
  background: linear-gradient(90deg, rgba(5,13,49,1) 0%, rgba(9,9,121,1) 35%, rgba(140,0,178,1) 100%);
}

.upper{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 20% 40% 20%;
    justify-content: center;
    align-items: center;
}

.player{
    height: 250px;
    /* width: 20%; */
    /* background-color: aqua; */
    display: inline-block;
    border: 2px solid black;
}


.board{
    height: 90vh;
    /* background-color: rgb(6, 167, 121); */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player2{
    height: 150px;
    /* width: 20%; */
    /* background-color: aqua; */
    display: inline-block;
    border: 2px solid black;
}

.bottom{
    height: calc(100vh - 350px);
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: 150px 150px;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px; */
    display: none;
}


@media only screen and (max-width: 850px) {
    .upper{
        grid-template-columns: 100%;
        align-items: start;
        height: 350px;
    }

    .player{
        display: none;
    }

    .board{
        height: 350px;
    }

    .bottom{
        display: grid;
    }
    
  }